# CUDA 12.1 builds of Torch
torch==2.3.1+cu121 --extra-index-url https://download.pytorch.org/whl/torch_stable.html
torchaudio==2.3.1+cu121 --extra-index-url https://download.pytorch.org/whl/torch_stable.html
torchvision==0.18.1+cu121 --extra-index-url https://download.pytorch.org/whl/torch_stable.html

# ASR
faster-whisper==1.0.3
ctranslate2>=4.4.0

# Diarization + HF

huggingface_hub>=0.22.2

# Audio utils
librosa
soundfile
ffmpeg-python
